In [1]:
print("Hello")

Hello

In [2]:
10+20

30

In [3]:
a=10+20
print(a)

30

In [4]:
b=a+30

In [5]:
print(b)

60

In [7]:
a=int(input("Enter one value"))
b=int(input("Enter Second value"))

Enter one value10
Enter Second value20

In [8]:
print(a,b)

10 20

###for loop in python

[101,210]

for number in range(101,211)
    print number
    
o/p :-

In [12]:
### Function to print the alternate values in a range [500,550]  in the same line
### [500,550] -> 500 502 504 .......... 550
### (500,550) -> 501 503 505 .......... 549
### range (500,550) -> 500 501 502 ..... 549
### All set based functions in python have start value inclusive and last value is exclusive

def alternatevalues(start,end):
    for value in range(start,end+1,4):
        print (value,end=" ")
    return

alternatevalues(500,525)

500 504 508 512 516 520 524

In [18]:
# Function to print reverse of given range in the same line

def reverserange(start,end):
    for value in range (end,start-1,-1):
        print (value,end=" ")
    return
    
reverserange(1,10)

10 9 8 7 6 5 4 3 2 1

In [ ]:
# Function to print the odd numbers in reverse of  given range in the same line

def reverseoddnumbers(start,end):
    for vlues in range(end,end-1,1):
        print (value,end=" ")
    return

In [25]:
#Function to calculate the sum of numbers in a range

def sumofnumbers(start,end):
    s = 0
    for value in range(start,end+1,1):
        s = s + value
    print(s)
    return

sumofnumbers(1,20)

210

In [45]:
#Function to print the odd numbers in reverse order in a range

def reverseodd(start,end):
    for i in range(end,start-1,-1):
        if i % 2 != 0:
            print(i)
    return

reverseodd(1,5)

5
3
1

In [44]:
#Function to calculate the sum of numbers in a range

def sumrange(start,end):
    sum=0
    for i in range(start,end+1):
        sum=sum+i
    return sum


sumrange(100,200)

200*201/2-(100*101/2)

15050.0

In [35]:
# Function to calculate the average of a given range

def averagevalue(start,end):
    sum=0
    count=0
    for i in range(start,end+1):
        sum=sum+i   #sum cualtion 
        count=count+1 #counting number of values
    return sum/count

averagevalue(1000,5000)

3000.0

In [51]:
#Function to calculate the factorial of a given number

def factorial(n):
    for i in range(2,n):
        n=n*i
    print(n)
    
factorial(5)

60

In [60]:
#Function to generate the leap years in a given time period
#(2000,2020) -> 2000 2004 2008 2012 2016 2020

def isleapyear(year):# To check if a given year is a leap year
    if year % 400==0 or (year % 4==0 and year %100 !=0):
        return True
    return False

def generateleapyears(startyear,endyear): # uses the isleapyear ( )
    for year in range(startyear,endyear+1):
        if isleapyear(year):
            print(year,end=" ")
    return



generateleapyears(1919,2019)

1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016

In [55]:
#factorial
def factorial(n):
    for i in range(2,n):
        n=n*n
    print(n)
    
factorial(5)

390625

In [ ]:
#calculate number of days in a given time period

In [69]:
# calculate number of days in a given time period using leap year
# For every year in the given time period ,if the year is not a leap year--> add 365 to sum. If leap year, add 366 to sum

def numberofdays(startyear,endyear):
    sum = 0
    for year in range(startyear,endyear + 1):
        if isleapyear(year):
            sum=sum+366
        else:
            sum=sum+365
    return sum

numberofdays(2000,2002)

1096

In [66]:
#Function to calculate number of hours for a given time period using
# numberofhours(11, 1975, 03, 1999) --> 204504 or 205248
# numberofhours(5, 2019, 6, 2019) --> 1464


def hoursof cover

In [70]:
# Function to generate the leap year in a given time period
# 1. Leapyearfunction --> To check if a given year is a leap year
# 2.Generateleapyears --> uses the leap year function to select all leap years in 

def isleapyear(year):
    if year%400==0 or year%4==0 and year%!=0:
        print(year,end=" ")
        
def isleapyear(year)

SyntaxError: invalid syntax (<ipython-input-70-4f3ae436e244>, line 6)

In [ ]:
##### Find the greatest of 3 numbers

n1 = int(input("Enter the first number"))
n2 = int(input("Enter the second number"))
n3 = int(input("Enter the third number"))

if n1 > n2 and n1 > n3:
    print(n1, "is the greatest")
elif n2 > n3:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

In [ ]:
# Find the greatest of 3 numbers

n1=int(input("enter the first number"))
n2=int(input("enter the second number"))
n3=int(input("enter the third number"))

if n1>n2 and n1>n3:
    print(n1, "is the greatest")
elif n2>n3:
    print(n2,"is the greatest")
else:
    print(n3, "is the greatest")

In [ ]:
# Check if a year is a Leap year
year = 1234
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

In [6]:
s="1,2,3,4,5,6"
li=s.split(",")
numberlist = []
for i in li:
    numberlist.append(int(i))
numberlist

[1, 2, 3, 4, 5, 6]