In [6]:
print("Hello","world !")

Hello world !

In [7]:
a=5
print("a =", a)
a="high five"
print("a = ", a)

a = 5
a =  high five

In [11]:
x=4
x += 1
print(x)

x /= 5
print(x)

5
1.0

In [37]:

a=5
b=2
a+=b
print(a,end = " ")
a-=b
print(a,end = " ")
a*=b
print(a,end = " ")
a/=b
print(a, end = " ")
a**=b
print(a, end= " ")

7 5 10 5.0 25.0

In [66]:
lan = ["telugu", "french","english"]


print(lan[2])
del(lan)
k = """ hiiii """
print(k)

english
 hiiii

In [69]:
str1 = "rama"
str2 = "kav"
print(str1 + str2)
print(str1 *8)

ramakav
ramaramaramaramaramaramaramarama

In [8]:
d = {1,2,3,4,5}
d.add(6)
print(d)
d.remove(3)
print(d)
d.update([7,8,9])
print(d)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6, 7, 8, 9}

In [17]:
a = {1,2,3,4,8,9}
b = {2,3,5,6,7}

print(a|b) # add two sets
print(a&b) # common elements

print(a-b) # presented a without in b

print(a^b) #uncommom elements

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3}
{8, 1, 4, 9}
{1, 4, 5, 6, 7, 8, 9}

In [105]:
### Function to print the alternate values in a range [500,550]  in the same line
### [500,550] -> 500 502 504 .......... 550
### (500,550) -> 501 503 505 .......... 549
### range (500,550) -> 500 501 502 ..... 549
### All set based functions in python have start value inclusive and last value is exclusive

def alternatevalues(start,end):
    for value in range(start,end,-1):
        print (value,end=" ")
    return

alternatevalues(500,525)

In [106]:
# Function to print reverse of given range in the same line

def reverserange(start,end):
    for value in range (end,start-1,-1):
        print (value,end=" ")
    return
    
reverserange(1,10)

10 9 8 7 6 5 4 3 2 1

In [ ]:
# Function to print the odd numbers in reverse of  given range in the same line

def reverseoddnumbers(start,end):
    for vlues in range(end,end-1,1):
        print (value,end=" ")
    return

In [25]:
#Function to calculate the sum of numbers in a range

def sumofnumbers(start,end):
    s = 0
    for value in range(start,end+1,1):
        s = s + value
    print(s)
    return

sumofnumbers(1,20)

210

In [45]:
#Function to print the odd numbers in reverse order in a range

def reverseodd(start,end):
    for i in range(end,start-1,-1):
        if i % 2 != 0:
            print(i)
    return

reverseodd(1,5)

5
3
1

In [4]:
#Function to calculate the sum of numbers in a range

def sumrange(start,end):
    sum=0
    for i in range(start,end+1):
        sum=sum+i
    print(sum)
sumrange(100,200)

15150
15150
15150

In [35]:
# Function to calculate the average of a given range

def averagevalue(start,end):
    sum=0
    count=0
    for i in range(start,end+1):
        sum=sum+i   #sum cualtion 
        count=count+1 #counting number of values
    return sum/count

averagevalue(1000,5000)

3000.0

In [51]:
#Function to calculate the factorial of a given number

def factorial(n):
    for i in range(2,n):
        n=n*i
    print(n)
    
factorial(5)

60

In [60]:
#Function to generate the leap years in a given time period
#(2000,2020) -> 2000 2004 2008 2012 2016 2020

def isleapyear(year):# To check if a given year is a leap year
    if year % 400==0 or (year % 4==0 and year %100 !=0):
        return True
    return False

def generateleapyears(startyear,endyear): # uses the isleapyear ( )
    for year in range(startyear,endyear+1):
        if isleapyear(year):
            print(year,end=" ")
    return



generateleapyears(1919,2019)

1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016

In [12]:
#factorial
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
        print(fact)
    
factorial(6)

1
2
6
24
120
720

In [ ]:
#calculate number of days in a given time period

In [69]:
# calculate number of days in a given time period using leap year
# For every year in the given time period ,if the year is not a leap year--> add 365 to sum. If leap year, add 366 to sum

def numberofdays(startyear,endyear):
    sum = 0
    for year in range(startyear,endyear + 1):
        if isleapyear(year):
            sum=sum+366
        else:
            sum=sum+365
    return sum

numberofdays(2000,2002)

1096

In [66]:
#Function to calculate number of hours for a given time period using
# numberofhours(11, 1975, 03, 1999) --> 204504 or 205248
# numberofhours(5, 2019, 6, 2019) --> 1464


def hoursof cover

In [18]:
# Function to generate the leap year in a given time period
# 1. Leapyearfunction --> To check if a given year is a leap year
# 2.Generateleapyears --> uses the leap year function to select all leap years in 

def isleapyear(year):
    if (year%400==0) or (year%4==0 and year%100!=0):
        print(year,end=" is the leap year")
    else:
        print(year,"not leap year")
          
isleapyear(1500)

1500 not leap year
1500 not leap year
1500 not leap year

In [ ]:
##### Find the greatest of 3 numbers

n1 = int(input("Enter the first number"))
n2 = int(input("Enter the second number"))
n3 = int(input("Enter the third number"))

if n1 > n2 and n1 > n3:
    print(n1, "is the greatest")
elif n2 > n3:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

In [98]:
# Find the greatest of 3 numbers

n1=int(input("enter the first number"))
n2=int(input("enter the second number"))
n3=int(input("enter the third number"))

if n1>n2 and n1>n3:
    print(n1, "is the greatest")
elif n2>n3:
    print(n2,"is the greatest")
else:
    print(n3, "is the greatest")

enter the first number-383
enter the second number-34
enter the third number-343
-34 is the greatest

In [100]:
# Check if a year is a Leap year
year = 1234
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Not a Leap Year

In [96]:
s="1 2 3 4 5 6"
li=s.split(" ")
numberlist = []
for i in li:
    numberlist.append(int(i))
numberlist

[1, 2, 3, 4, 5, 6]

In [74]:
def soons(start,end):
    for value in range(start, end+1,2):
        print (value,end=" ")
    return
soons(500,510)

500 502 504 506 508 510

In [70]:
def alternativenumbers(start,end):
    for value in range(start+3,end,2):
        print (value,end=" ")
    return
alternativenumbers(500,530)

503 505 507 509 511 513 515 517 519 521 523 525 527 529

In [ ]:
def string(s):
    z=""
    for i in s:
        if i.isupper():
            z=z+i.lower()
        else:
            z=z+i.upper()
        print(z)
    
s=input()
string(s)

In [139]:
n1=int(input("enter first"))
n2=int(input("enter the second"))
n3=int(input("enter third"))

if n1>n2 and n1>n3:
    print(n1, "the greatest value")
elif n2>n3:
    print(n2,"is the greatest value")
else:23
    print(n3,"is the greatest value")

IndentationError: unexpected indent (<ipython-input-139-233f5bf3897c>, line 10)

In [111]:
def alternatevalues(start,end):
    for value in range(start,end+1,-1):
        print (value,end=" ")
    return

alternatevalues(525,510)

525 524 523 522 521 520 519 518 517 516 515 514 513 512

In [137]:
def factorial(s):
    fact=1
    for i in range(1,s+1):
        fact=fact*i
        print(fact)

factorial(5)

1
2
6
24
120

In [144]:
def palindrom(s):
    if s[::-1]==s:
        print("yes")
    else:
        print("no")
s=input()
palindrom(s)

serfs
no

In [5]:
def sumrange(start,end):
    sum=0
    for i in range(start,end+1):
        sum=sum+i
    print(sum)
sumrange(100,200)

15150
15150
15150

### Perfect Number

In [3]:
def factors(n):
    sum=0
    for i in range(1,n+1):
        if n % i ==0:
            print(i, end=" ")
            sum +=i
    #print(sum)
    if n == sum:
        print(" yes ")
    else:
        print(" no ")
        
        
factors(6)

1 2 3 6  no

In [8]:
person = {'name':'Jack', 'age': 26, 'salary': 4534.2}
person["name"] = "rama"
print(person) 
person["salary"] = 343523
print(person)
del(person["name"])
print(person)
del person

{'name': 'rama', 'age': 26, 'salary': 4534.2}
{'name': 'rama', 'age': 26, 'salary': 343523}
{'age': 26, 'salary': 343523}

In [17]:
num = range(1,6)
print(tuple(num))
print(list(num))
print(set(num))
print(dict.fromkeys(num,99))

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
{1: 99, 2: 99, 3: 99, 4: 99, 5: 99}

In [29]:
num1 = range(10,0,-1)
print(list(num1))
num1 = range(1,10,2)
print(tuple(num1))
print(set(num1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
(1, 3, 5, 7, 9)
{1, 3, 5, 7, 9}

In [47]:
if False:
    print("I am inside the body of if.")
    print("I am also inside the body of if.")
print("I am outside the body of if")

I am outside the body of if

In [92]:
# sum of n numbers

n=100

sum=0

i=1 # intialise counter

while i <= n:
    sum =sum + i
    i = i + 1 #update counter
        
print("sum of numbers is ", sum)

sum of numbers is  5050

In [98]:
b=[2,3,345,66,67,22]

sum = 0
for val in b:
    sum = sum+ val
print(sum)

505

In [105]:
for val in "string":
    if val == "r":
        break
    print(val)
        
print("the end")

s
t
the end

In [107]:
for val in "string":
    if val == "i":
        continue
    print(val)
        
print("the end")

s
t
r
n
g
the end

In [8]:
def print_lines():
    print("my name is first")
    print("my name is second")
    
    
print_lines()

my name is first
my name is second

In [17]:
def add_numbers(a,b):
    sum = a+b
    print(sum)
# a=int(input())   
# b=int(input())      --> other process
# add_numbers(a,b)

add_numbers(2,9)

11
11
11

In [22]:
def count(n):
    n=100
    s=0
    for i in range(1,n):
        s +=i
        i +=1
        print(s)

count(n)

In [10]:
# Recursive function to find the factorial of a function

def factorial(n):
    
        if n==1:
            return 1
        else:
            return(n * factorial(n-1))
        
num = 6       
factorial(num)

720

In [24]:
square = lambda x:x ** 2
print(square(5))

25

In [37]:
a = input()
b = input()
def add(a,b):
    print(a+b)
    
add()

3
4

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [38]:
from math import pi
print("the  value of pi is",  pi)

the  value of pi is 3.141592653589793

In [45]:
with open("test.txt", "r") as file:
    lines = file.read().splitlines()

    uniques = set()
    for line in lines:
        uniques |= set(line.split())

    print(f"Unique words: {len(uniques)}")

Unique words: 7