## Python Basics

### Python version 3.7

- Scripting
- Onject Oriented
- Functional

In [1]:
# Python Comments

print("Good Afternoon", "!", end="||") # Basic Output
print("Hello Python")

Good Afternoon !||Hello Python

## Assignment

In [2]:
n1 = 123456 # Single Variable Assignment

n2 = n3 = n4 = n1 # Multi Variable Assignment of the same value

a, b, c = 123, 234, 345 # Multi Variable Assigment with different values

print(a, b, c)

123 234 345

## Data Types and Conversions

- int
- float
- string

In [3]:
type(a)
s1 = "Python"
type(s1)

f1 = 12.345
type(f1)

float(str(int(f1)))

12.0

## Arithmetic Operations

- +
- -
- *
- /
- %

In [4]:
1 % 11

n3 = n2 ** 12

type(n3)
len(str(n3))

atoms = 10 ** 82
len(str(atoms))
type(str(atoms))

122321 ** 9

6130687873308026945890176790042303730066739281

## Conditionals

In [5]:
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [6]:
# Check if a number is Even

n = 123
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [ ]:
# Check if a year is a Leap year
year = 1234
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")